
.soften {
    height: 5px;
    margin-bottom: 0.5em;
    background-image: -webkit-linear-gradient(left, transparent, rgba(0, 0, 0, .2), transparent);
    background-image: -moz-linear-gradient(left, transparent, rgba(0, 0, 0, .2), transparent);
    background-image: -ms-linear-gradient(left, transparent, rgba(0, 0, 0, .2), transparent);
    background-image: -o-linear-gradient(left, transparent, rgba(0, 0, 0, .2), transparent);
    border: 0;
    width: 100%;
}

.tooltip-div {
    padding: 0.5em 3em;
}

.tooltip-div > h3 {
    font-size: 2em;
    text-align: center;
    margin-bottom: 0.25em;
}

.tooltip-div > p {
    font-size: 1.5em;
}

.fa-female {
    color: #ffa3b1;
}

.fa-male {
    color: #4d6df3;
}

.fa-question {
    color: #ffa500;
}

.page-header {
    background: url(../img/teseo.jpg) no-repeat center center fixed;
    padding: 1.5em 5em;
}

blockquote {
    border-left: 5px solid #777;
}


/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
    background-color: transparent;
}

#footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 60px;
    background-color: #ccc;
}


/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

.container {
    width: auto;
    padding: 0 2.5em;
}

.container .text-muted {
    margin: 20px 0;
}

.centered {
    text-align: center;
}

.form-inline {
    float: right;
}

.form-inline > div {
    margin: 0 1em;
}








.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.x.axis path {
  display: none;
}

.bar {
    opacity: 0.75;
}

.d3-tip {
    line-height: 1;
    padding: 1.5em;
    background: rgba(0, 0, 0, 0.8);
    color: #fff;
    border-radius: 1em;
    text-align: center;
}

/* Creates a small triangle extender for the tooltip */
.d3-tip:after {
  box-sizing: border-box;
  display: inline;
  font-size: 1.5em;
  width: 100%;
  line-height: 1;
  color: rgba(0, 0, 0, 0.8);
  content: "\25BC";
  position: absolute;
}

/* Style northward tooltips differently */
.d3-tip.n:after {
  margin: -1px 0 0 0;
  top: 100%;
  left: 0;
}

.d3-tip > h1 {
    font-size: 2em;
    font-weight: bold;
    margin: 0.3em;
    text-align: center;
    border-bottom: 3px double white;
}

.d3-tip > p.genders {
    text-align: left;
}

.d3-tip > p {
    font-size: 1.25em;
    line-height: 1.5em;
    text-align: center;
}

.modal-body > p {
    text-align: justify;
}
