{% extends "base.html" %}



{% block content %}

    <!-- Button trigger modal -->
    <button class="btn btn-info" data-toggle="modal" data-target="#info-modal">
        <i class="fa fa-info"></i>
    </button>

    <!-- Modal -->
    <div class="modal fade" id="info-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myModalLabel">Theses gender distribution</h4>
                </div>

                <div class="modal-body">
                    <p>
                        This chart shows the panel member's gender distribution from all the doctoral defenses registered in Spain since 1977.
                    </p>

                    <p>
                        When hovering over each bar, a tooltip with gender distribution information shows up.
                    </p>

                    <p>
                        Remember that viva panels in Spain are formed by 5 tribunal members.
                    </p>

                    <p>
                        To calculate the presence of each gender in those panels, the number of gender-unknown members is deducted from that year's total count. This could lead to data misinterpretations, as some data are missing in the analysis. Improving the gender desambiguation could lead to more realistic results.
                    </p>

                    <p>
                        This chart is closely related with the <a href="{{ url_for('theses_gender_distribution') }}">Thesis gender distribution</a> chart.
                    </p>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <div id="svg" class="centered"></div>

{% endblock %}



{% block scripts %}

    <script type="text/javascript" src="{{ url_for('static', filename='js/d3.min.js') }}"></script>
    <script src="http://labratrevenge.com/d3-tip/javascripts/d3.tip.v0.6.3.js"></script>

    <script type="text/javascript" src="{{ url_for('static', filename='js/handlebars-v1.3.0.js') }}"></script>

    {% raw %}
    <script id="percentage-tooltip-template" type="text/x-handlebars-template">
        <h1>Year {{ year }}</h1>

        <p class="genders">
            &emsp;<i class="fa fa-female"></i>&emsp;{{ females }} %
            <br>
            &emsp;<i class="fa fa-male"></i>&emsp;{{ males }} %
        </p>
    </script>
    {% endraw %}

    <script>
        var page_width = $(".container").width();

        var margin = {top: 40, right: 50, bottom: 30, left: 50},
            width = page_width - margin.left - margin.right,
            height = 500 - margin.top - margin.bottom;

        var year_format = d3.time.format("%y");

        var xScale = d3.scale.ordinal().rangeRoundBands([0, width], .1);

        var yScale = d3.scale.linear().range([height, 0]);
        var yScale2 = d3.scale.linear().range([height, 0]);

        var xAxis = d3.svg.axis()
            .scale(xScale)
            .orient("bottom")
            .tickFormat(year_format);

        var yAxis = d3.svg.axis()
            .scale(yScale)
            .orient("left");

        var svg = d3.select("#svg").append("svg")
            .attr("width", width + margin.left + margin.right)
            .attr("height", height + margin.top + margin.bottom)
            .append("g")
            .attr("transform", "translate(" + margin.left + "," + margin.top + ")");

        var data = [];
        $.getJSON("{{ url_for('static', filename='data/first_level_areas_temporal.json') }}", function(json) {
            for (var element in json) {
                if (element > 1976) {
                    var data_obj = {
                        "year": element,
                        "count": json[element]["CIENCIAS MEDICAS"]
                    };
                    data.push(data_obj);
                };
            }

            xScale.domain(data.map(function(d) { return new Date(d.year, 01, 01); }));
            yScale.domain([0, d3.max(data, function(d) { return d.count; })]);

            svg.append("g")
                .attr("class", "x axis")
                .attr("transform", "translate(0," + height + ")")
                .call(xAxis);

            svg.append("g")
                .attr("class", "y axis y-left")
                .call(yAxis)
                .append("text")
                    .attr("y", -35)
                    .attr("dy", ".71em")
                    .attr("class", "y-left-text")
                    .text("female presence (%)");

            var tip = d3.tip()
                .attr('class', 'd3-tip')
                .offset([-10, 0])
                .html(function(d) {
                    var template_source = $('#percentage-tooltip-template').html();
                    var template = Handlebars.compile(template_source);
                    var total = d.females + d.males;
                    var tooltip_data = {
                        year: d.year
                    }
                    return template(tooltip_data);
                });

            svg.call(tip);

            var line = d3.svg.line()
                .x(function(d) { return xScale(d.year); })
                .y(function(d) { return yScale(d.count); });

            svg.append("path")
                .data(data)
                .attr("class", "line")
                .attr("d", line);
        });
    </script>

{% endblock %}
