{% extends "base.html" %}



{% block content %}

    <!-- Button trigger modal -->
    <button class="btn btn-info" data-toggle="modal" data-target="#info-modal">
        <i class="fa fa-info"></i>
    </button>

    <!-- Modal -->
    <div class="modal fade" id="info-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myModalLabel">Theses gender distribution</h4>
                </div>

                <div class="modal-body">
                    <p>
                        This chart shows the total number of dissertations by gender registered in Spain since 1977.
                    </p>

                    <p>
                        The user can compare the gender distribution filtering the information through the radio buttons. When hovering over each bar, a tooltip with extra information shows up.
                    </p>

                    <p>
                        To calculate the presence of each gender in the total number of theses, the number of gender-unknown authors (marked as <i class="fa fa-question"></i>) is deducted from that year's total count. This could lead to data misinterpretations, as some data are missing in the analysis.
                    </p>

                    <p>
                        Improving the gender desambiguation could lead to more realistic results.
                    </p>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <form class="form-inline" role="form">
        <div class="radio">
            <label>
                <input type="radio" name="optionsRadios" id="females" value="" checked>
                Females
            </label>
        </div>
        <div class="radio">
            <label>
                <input type="radio" name="optionsRadios" id="males" value="">
                Males
            </label>
        </div>
        <div class="radio">
            <label>
                <input type="radio" name="optionsRadios" id="both" value="">
                Percentage
            </label>
        </div>
    </form>

    <div id="svg" class="centered"></div>

{% endblock %}



{% block scripts %}

    <script type="text/javascript" src="{{ url_for('static', filename='js/d3.min.js') }}"></script>
    <script src="http://labratrevenge.com/d3-tip/javascripts/d3.tip.v0.6.3.js"></script>

    <script type="text/javascript" src="{{ url_for('static', filename='js/handlebars-v1.3.0.js') }}"></script>

    {% raw %}
    <script id="total-tooltip-template" type="text/x-handlebars-template">
        <h1>Year {{ year }}</h1>

        <p class="genders">
            &emsp;<i class="fa fa-female"></i>&emsp;{{ females }}
            <br>
            &emsp;<i class="fa fa-male"></i>&emsp;{{ males }}
            <br>
            &emsp;<i class="fa fa-question"></i>&emsp;{{ none }}
        </p>

        <p>
            <strong>Total:</strong>&emsp;{{ total }}
        </p>
    </script>
    {% endraw %}

    {% raw %}
    <script id="percentage-tooltip-template" type="text/x-handlebars-template">
        <h1>Year {{ year }}</h1>

        <p class="genders">
            &emsp;<i class="fa fa-female"></i>&emsp;{{ females }} %
            <br>
            &emsp;<i class="fa fa-male"></i>&emsp;{{ males }} %
        </p>

        <p>
            {{ total }} registered theses
        </p>
    </script>
    {% endraw %}

    <script>
        var page_width = $(".container").width();

        var margin = {top: 40, right: 50, bottom: 30, left: 50},
            width = page_width - margin.left - margin.right,
            height = 500 - margin.top - margin.bottom;

        var year_format = d3.time.format("%y");

        var xScale = d3.scale.ordinal().rangeRoundBands([0, width], .1);
        var yScale = d3.scale.linear().range([height, 0]);

        var xAxis = d3.svg.axis()
            .scale(xScale)
            .orient("bottom")
            .tickFormat(year_format);

        var yAxis = d3.svg.axis()
            .scale(yScale)
            .orient("left");

        var svg = d3.select("#svg").append("svg")
            .attr("width", width + margin.left + margin.right)
            .attr("height", height + margin.top + margin.bottom)
            .append("g")
            .attr("transform", "translate(" + margin.left + "," + margin.top + ")");

        var data = [];
        $.getJSON("{{ url_for('static', filename='data/processed_data/genders_total.json') }}", function(json) {
            for (var element in json) {

                if (element > 1976) {
                    var data_obj = {
                        "year": element,
                        "none": json[element]["None"],
                        "females": json[element]["female"],
                        "males": json[element]["male"]
                    };
                    data.push(data_obj);
                };

            }

            xScale.domain(data.map(function(d) { return new Date(d.year, 01, 01); }));

            svg.append("g")
                .attr("class", "x axis")
                .attr("transform", "translate(0," + height + ")")
                .call(xAxis);

            svg.append("g")
                .attr("class", "y axis y-left")
                .call(yAxis)
                .append("text")
                    .attr("y", -35)
                    .attr("dy", ".71em")
                    .attr("class", "y-left-text");

            drawData("females");

            var last_checked_total = false;

            $('.form-inline').change(function() {
                svg.selectAll("line.horizontalGrid").data(yScale.ticks()).remove();
                if ($("#males").is(':checked')) {
                    drawData("males");
                    last_checked_total = false;
                }
                else if ($("#females").is(':checked')) {
                    drawData("females");
                    last_checked_total = false;
                }
                else {
                    drawTotal();
                    last_checked_total = true;
                }
            });

            function drawTotal() {

                svg.selectAll('.bar').remove();
                svg.selectAll('.bars').remove();

                yScale.domain([0, 100]);

                $(".y-left-text").text("female presence (%)");

                yAxis = d3.svg.axis()
                    .scale(yScale)
                    .orient("left");

                d3.select(".y-left")
                    .transition().duration(1000).ease("quad")
                    .style("fill", "#ff69b4")
                    .call(yAxis);

                var yScale2 = d3.scale.linear().range([height, 0]);
                yScale2.domain([100, 0]);

                var yAxis2 = d3.svg.axis()
                    .scale(yScale2)
                    .orient("right");

                svg.append("g")
                    .attr("class", "y axis y-right")
                    .attr("transform", "translate(" + width + ", 0)")
                    .style("fill", "#4d6df3")
                    .append("text")
                        .attr("x", -120)
                        .attr("y", -35)
                        .attr("dy", ".71em")
                        .attr("class", "y-right-text");

                d3.select(".y-right")
                    .transition().duration(1000).ease("quad")
                    .call(yAxis2);

                $(".y-right-text").text("male presence (%)");

                var tip = d3.tip()
                    .attr('class', 'd3-tip')
                    .offset([-10, 0])
                    .html(function(d) {
                        var template_source = $('#percentage-tooltip-template').html();
                        var template = Handlebars.compile(template_source);
                        var total = d.females + d.males;
                        var tooltip_data = {
                            year: d.year,
                            females: (d.females/total * 100).toFixed(2),
                            males: (d.males/total * 100).toFixed(2),
                            total: d.females + d.males + d.none
                        }
                        return template(tooltip_data);
                    });

                svg.call(tip);

                var b = svg.selectAll(".bar").data(data);

                b.enter().append('g')
                    .attr('class', 'bar')
                   . on('mouseover', tip.show)
                    .on('mouseout', tip.hide);

                b.call(tip);

                b.append("rect")
                    .attr("x", function(d) { return xScale(new Date(d.year, 01, 01)); })
                    .attr("width", xScale.rangeBand())
                    .attr("y", function(d) { return height; })
                    .attr("height", function(d) { return 0; })
                    .transition().duration(1000).ease("quad")
                        .style("fill-opacity", 0.75)
                        .style("fill", "#ff69b4")
                        .attr("y", function(d) { return yScale(d.females / (d.females + d.males) * 100); })
                        .attr("height", function(d) { return height - yScale(d.females / (d.females + d.males) * 100); });

                b.append("rect")
                    .attr("x", function(d) { return xScale(new Date(d.year, 01, 01)); })
                    .attr("width", xScale.rangeBand())
                    .attr("y", function(d) { return height; })
                    .attr("height", function(d) { return 0; })
                    .transition().duration(1000).ease("quad")
                        .style("fill-opacity", 0.75)
                        .style("fill", "#4d6df3")
                        .attr("y", function(d) { return 0; })
                        .attr("height", function(d) { return height - yScale(d.males / (d.females + d.males) * 100); });

                svg.selectAll("line.horizontalGrid")
                    .data(yScale.ticks())
                    .enter().append("line")
                        .attr({
                            "class":"horizontalGrid",
                            "x1" : 0,
                            "x2" : width,
                            "y1" : function(d){ return yScale(d); },
                            "y2" : function(d){ return yScale(d); },
                            "fill" : "none",
                            "shape-rendering" : "crispEdges",
                            "stroke" : "#ccc",
                        })
                        .attr("stroke-width", function(d, i) {
                            return (i == 5) ? "3px" : "1px";
                        });
            }

            function drawData(variable) {

                if (last_checked_total === true) {
                    svg.selectAll('.bar').remove();
                }

                svg.selectAll('.y-right').remove();

                yScale.domain([0, d3.max(data, function(d) { return Math.ceil((d.females + d.males + d.none) / 500) * 500; })]);

                $(".y-left-text").text("Total number of theses - " + variable);

                yAxis = d3.svg.axis()
                    .scale(yScale)
                    .orient("left");

                d3.select(".y-left")
                    .transition().duration(1000).ease("quad")
                    .style("fill", "black")
                    .call(yAxis);

                var color = null;

                if (variable == "females")
                    color = '#ff69b4';
                else
                    color = '#4d6df3';

                var tip = d3.tip()
                    .attr('class', 'd3-tip')
                    .offset([-10, 0])
                    .html(function(d) {
                        var template_source = $('#total-tooltip-template').html();
                        var template = Handlebars.compile(template_source);
                        var tooltip_data = {
                            year: d.year,
                            females: d.females,
                            males: d.males,
                            none: d.none,
                            total: d.females + d.males + d.none
                        }
                        return template(tooltip_data);
                    });

                svg.call(tip);

                var b = svg.selectAll(".bar").data(data)

                b.enter().append("rect")
                    .attr("class", "bar")
                    .attr("x", function(d) { return xScale(new Date(d.year, 01, 01)); })
                    .attr("width", xScale.rangeBand())
                    .attr("y", function(d) { return yScale(d.females + d.males + d.none); })
                    .attr("height", function(d) { return height - yScale(d.females + d.males + d.none); })
                    .style("fill-opacity", 0.75)
                    .style("fill", "#cdc5bf")
                    .on('mouseover', tip.show)
                    .on('mouseout', tip.hide);

                var bars = svg.selectAll(".bars").data(data)

                bars.enter().append("rect")
                    .attr("class", "bars")
                    .attr("x", function(d) { return xScale(new Date(d.year, 01, 01)); })
                    .attr("width", xScale.rangeBand())
                    .attr("y", function(d) { return height; })
                    .attr("height", function(d) { return 0; })
                bars.transition().duration(1000).ease("quad")
                    .style("fill-opacity", 1)
                    .style("fill", color)
                    .attr("y", function(d) { return yScale(d[String(variable)]); })
                    .attr("height", function(d) { return height - yScale(d[String(variable)]); });

                svg.selectAll("line.horizontalGrid")
                    .data(yScale.ticks())
                    .enter().append("line")
                        .attr({
                            "class":"horizontalGrid",
                            "x1" : 0,
                            "x2" : width,
                            "y1" : function(d){ return yScale(d); },
                            "y2" : function(d){ return yScale(d); },
                            "fill" : "none",
                            "shape-rendering" : "crispEdges",
                            "stroke" : "#ccc",
                            "stroke-width" : "1px"
                        });
            };
        });
    </script>

{% endblock %}
