{% extends "base.html" %}



{% block stylesheets %}

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/slider.css') }}">

{% endblock %}



{% block content %}

    <!-- Button trigger modal -->
    <button class="btn btn-info" data-toggle="modal" data-target="#info-modal">
        <i class="fa fa-info"></i>
    </button>

    <!-- Modal -->
    <div class="modal fade" id="info-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myModalLabel">Theses gender distribution</h4>
                </div>

                <div class="modal-body">
                    <p>
                        This chart shows the panel member's gender distribution from all the doctoral defenses registered in Spain since 1977.
                    </p>

                    <p>
                        When hovering over each bar, a tooltip with gender distribution information shows up.
                    </p>

                    <p>
                        Remember that viva panels in Spain are formed by 5 tribunal members.
                    </p>

                    <p>
                        To calculate the presence of each gender in those panels, the number of gender-unknown members is deducted from that year's total count. This could lead to data misinterpretations, as some data are missing in the analysis. Improving the gender desambiguation could lead to more realistic results.
                    </p>

                    <p>
                        This chart is closely related with the <a href="{{ url_for('theses_gender_distribution') }}">Thesis gender distribution</a> chart.
                    </p>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <input id="year-selector" type="text" class="span6" value="" data-slider-min="1977" data-slider-max="2014" data-slider-step="1" data-slider-value="[1977,2014]"/>

    <div id="geo-chart" class="centered"></div>

{% endblock %}



{% block scripts %}

    <script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap-slider.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/underscore.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/d3.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/gcharts.js') }}"></script>

    <script>
        $('#year-selector').slider();

        var regions = {
            "Andalucía": "ES-AN",
            "Aragon": "ES-AR",
            "Asturias": "ES-AS",
            "Islas Canarias": "ES-CN",
            "Cantabria": "ES-CB",
            "Castilla La Mancha": "ES-CM",
            "Castilla y León": "ES-CL",
            "Cataluña": "ES-CT",
            "Extremadura": "ES-EX",
            "Galicia": "ES-GA",
            "Islas Baleares": "ES-IB",
            "La Rioja": "ES-RI",
            "Madrid": "ES-MD",
            "Murcia": "ES-MC",
            "Navarra": "ES-NC",
            "País Vasco": "ES-PV",
            "Valencia": "ES-VC",
            "Ceuta": "ES-CE",
            "Melilla": "ES-ML",
        }

        var regions_json;
        $.getJSON("{{ url_for('static', filename='data/regions_temporal.json') }}", function(json) {
            regions_json = json;
        });

        var min_year = 1977;
        var max_year = 2014;

        google.load('visualization', '1', {'packages': ['geochart']});
        google.setOnLoadCallback(drawRegionsMap);

        function drawRegionsMap() {
            var dataTable = new google.visualization.DataTable();

            dataTable.addColumn('string', 'Region');
            dataTable.addColumn('number', 'Number of theses');


            var regions_count = [];

            for (var region in regions) {
                regions_count.push([String(region), 0]);
            }

            for (var y in _.range(min_year, max_year + 1)) {
                var count_year = min_year + parseInt(y);

                for (var element in regions_json[String(count_year)]) {
                    regions_count[String(element)] += regions_json[String(count_year)][String(element)];
                }
            }

            var options = {
                region: 'ES',
                resolution: 'provinces',
                displayMode: 'regions',
                colorAxis: {minValue: 0,  colors: ['#fff', '#00f']}
            };

            var chart = new google.visualization.GeoChart(document.getElementById('geo-chart'));
            chart.draw(dataTable, options);
        };

        var yearSelectorChange = function() {
            var range = ys.getValue();

            if (range[0] > range[1]) {
                min_year = range[1];
                max_year = range[0];
            }
            else {
                min_year = range[0];
                max_year = range[1];
            }

            drawRegionsMap();
        };

        var ys = $('#year-selector').slider()
            .on('slide', yearSelectorChange)
            .data('slider');



        // d3.xml("{{ url_for('static', filename='spain.svg') }}", "image/svg+xml", function(xml) {
        //     document.body.appendChild(xml.documentElement);
        // });

        // // http://en.wikipedia.org/wiki/ISO_3166-2:ES

        // $('#xxx').attr("id","ES-AN");   // Andalucía
        // $('#xxx').attr("id","ES-AR");   // Aragón
        // $('#xxx').attr("id","ES-AS");   // Asturias
        // $('#xxx').attr("id","ES-CN");   // Canarias
        // $('#xxx').attr("id","ES-CB");   // Cantabria
        // $('#xxx').attr("id","ES-CM");   // Castilla la Mancha
        // $('#xxx').attr("id","ES-CL");   // Castilla y León
        // $('#xxx').attr("id","ES-CT");   // Cataluña
        // $('#xxx').attr("id","ES-EX");   // Extremadura
        // $('#xxx').attr("id","ES-GA");   // Galicia
        // $('#xxx').attr("id","ES-IB");   // Islas Baleares
        // $('#xxx').attr("id","ES-RI");   // La Rioja
        // $('#xxx').attr("id","ES-MD");   // Comunidad de Madrid
        // $('#xxx').attr("id","ES-MC");   // Murcia
        // $('#xxx').attr("id","ES-NC");   // Navarra
        // $('#xxx').attr("id","ES-PV");   // País Vasco
        // $('#xxx').attr("id","ES-VC");   // Comunidad Valenciana
        // $('#xxx').attr("id","ES-CE");   // Ceuta
        // $('#xxx').attr("id","ES-ML");   // Melilla
    </script>

{% endblock %}
