{% extends "base.html" %}



{% block stylesheets %}

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/sigma-style.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/jquery.fancybox.css') }}">

{% endblock %}



{% block content %}

    <div class="sigma-parent">
        <div class="sigma-expand" id="sigma-canvas"></div>
    </div>

    <div id="mainpanel">
        <div class="col">
            <div id="maintitle"></div>
            <div id="title"></div>
            <div id="titletext"></div>
            <div class="info cf">

            <dl>
                <dt class="moreinformation"></dt>
                <dd class="line"><a href="#information" class="line fb">More about this visualisation</a></dd>
            </dl>
        </div>

        <div id="legend">
            <div class="box">
                <h2>Legend:</h2>

                <dl>
                    <dt class="node"></dt>
                    <dd></dd>
                    <dt class="edge"></dt>
                    <dd></dd>
                    <dt class="colours"></dt>
                    <dd></dd>
                </dl>
            </div>
        </div>

        <div class="b1">
            <form>
                <div id="search" class="cf">
                    <h2>Search:</h2>
                    <input type="text" name="search" value="Search by name" class="empty"/>
                    <div class="state"></div>
                    <div class="results"></div>
                </div>

                <div class="cf" id="attributeselect">
                    <h2>Group Selector:</h2>
                    <div class="select">Select Group</div>
                    <div class="list cf"></div>
                </div>
            </form>
        </div>
    </div>

    <div id="information"></div>

    </div>
        <div id="zoom">
            <div class="z" rel="in"></div>
            <div class="z" rel="out"></div>
            <div class="z" rel="center"></div>
        </div>
    </div>

    <div id="attributepane">
        <div class="text">
            <div title="Close" class="left-close returntext">
                <div class="c cf">
                    <span>Return to the full network</span>
                </div>
            </div>

            <div class="headertext">
                <span>Information Pane</span>
            </div>

            <div class="nodeattributes">
                <div class="name"></div>
                <div class="data"></div>
                <div class="p">Connections:</div>
                <div class="link">
                    <ul></ul>
                </div>
            </div>
        </div>
    </div>

{% endblock %}



{% block scripts %}

    <script type="text/javascript" src="{{ url_for('static', filename='js/sigma.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/sigma.parseJson.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/jquery.fancybox.pack.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/sigma-main.js') }}"></script>

{% endblock %}
