<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">

        {% block stylesheets %}{% endblock %}

        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/font-awesome.min.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    </head>

    <body>

        <div class="container">
            <blockquote>
                <div class="row">
                    <div class="col-md-6">
                        <h1>Teseo</h1>
                    </div>

                    <div class="col-md-6">
                        <a class="btn btn-info" href="{{ url_for('index') }}">
                            <i class="fa fa-globe"></i>&emsp;Home
                        </a>

                        <div class="btn-group">
                            <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown">
                                <i class="fa fa-signal"></i>&emsp;Visualizations&emsp;<span class="caret"></span>
                            </button>

                            <ul class="dropdown-menu" role="menu">
                                <li role="presentation" class="dropdown-header">
                                    Totals distribution analysis
                                </li>
                                    <li role="presentation" class="tab-menu">
                                        <a href="{{ url_for('month_distribution') }}">Month</a>
                                    </li>

                                    <li role="presentation" class="tab-menu">
                                        <a href="{{ url_for('theses_by_university') }}">Universities</a>
                                    </li>

                                    <li role="presentation" class="tab-menu">
                                        <a href="{{ url_for('theses_geographical_distribution') }}">Geographical</a>
                                    </li>

                                <li class="divider"></li>

                                <li role="presentation" class="dropdown-header">
                                    Gender distribution analysis
                                </li>
                                    <li role="presentation" class="tab-menu">
                                        <a href="{{ url_for('theses_gender_distribution') }}">Theses</a>
                                    </li>

                                    <li role="presentation" class="tab-menu">
                                        <a href="{{ url_for('advisor_gender_distribution') }}">Advisors</a>
                                    </li>

                                    <li role="presentation" class="tab-menu">
                                        <a href="{{ url_for('panel_gender_distribution') }}">Panels</a>
                                    </li>

                                    <li role="presentation" class="tab-menu">
                                        <a href="{{ url_for('topic_gender_distribution') }}">Topics</a>
                                    </li>

                                <li class="divider"></li>

                                <li role="presentation" class="dropdown-header">
                                    Topic network analysis
                                </li>
                                    <li role="presentation" class="tab-menu">
                                        <a href="{{ url_for('network_level_1') }}">UNESCO level 1</a>
                                    </li>

                                    <li role="presentation" class="tab-menu">
                                        <a href="{{ url_for('network_level_2') }}">UNESCO level 2</a>
                                    </li>

                                    <li role="presentation" class="tab-menu">
                                        <a href="{{ url_for('network_level_3') }}">UNESCO level 3</a>
                                    </li>

                                <li class="divider"></li>

                                <li role="presentation" class="dropdown-header">
                                    Topic distribution analysis
                                </li>
                                    <li role="presentation" class="tab-menu">
                                        <a href="{{ url_for('all_topics_by_range', min_year=1977, max_year=2014) }}">Time range (all topics)</a>
                                    </li>

                                    <li role="presentation" class="tab-menu">
                                        <a href="{{ url_for('topics_by_range', min_year=1977, max_year=2014) }}">Time range (high level topics)</a>
                                    </li>

                                    <li role="presentation" class="tab-menu">
                                        <a href="{{ url_for('topic_evolution') }}">Single evolution</a>
                                    </li>

                                    <li role="presentation" class="tab-menu">
                                        <a href="{{ url_for('top_topics', min_year=1977, max_year=2014, university_slug='a-coruna') }}">By university</a>
                                    </li>

                                    <li role="presentation" class="tab-menu">
                                        <a href="{{ url_for('top_universities', min_year=1977, max_year=2014, topic_slug='actividad-economica') }}">Top universities</a>
                                    </li>
                            </ul>
                        </div>

                        <a class="btn btn-info" href="{{ url_for('about') }}">
                            <i class="fa fa-info"></i>&emsp;About
                        </a>
                    </div>
                </div>

                <p>
                    Spanish database of Doctoral Theses dissertations
                </p>

            </blockquote>

            <br>

            {% block content %}{% endblock %}
        </div>

        <br>
        <br>

        <div id="footer">
            <div class="container">
                <br>
                <div class="row">
                    <div class="col-md-2">
                        <a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/">
                            <img alt="Licencia Creative Commons" style="border-width:0" src="http://i.creativecommons.org/l/by-sa/4.0/88x31.png" />
                        </a>
                    </div>

                    <div class="col-md-8">
                        <p>
                            Este obra está bajo una <a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/">Licencia Creative Commons Atribución-CompartirIgual 4.0 Internacional</a>.
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <script type="text/javascript" src="{{ url_for('static', filename='js/jquery-2.1.0.min.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>

        <script>
            (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
            })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

            ga('create', 'UA-50985855-1', 'deusto.es');
            ga('require', 'displayfeatures');
            ga('send', 'pageview');
        </script>

        {% block scripts %}{% endblock %}
    </body>
</html>
