{% extends "index.html" %}



{% block content %}

    <div id="chart"></div>

{% endblock %}



{% block scripts %}

    <script type="text/javascript" src="{{ url_for('static', filename='js/gcharts.js') }}"></script>

    <script type="text/javascript">
        google.load("visualization", "1", {packages:["corechart"]});
        google.setOnLoadCallback(drawChart);

        function drawChart() {
            var dataTable = new google.visualization.DataTable();

            dataTable.addColumn('string', 'Year');
            dataTable.addColumn('number', '{{ topic_1 }}');
            dataTable.addColumn('number', '{{ topic_2 }}');

            var gender_json;
            $.getJSON("/static/data/processed_data/first_level_areas_temporal.json", function(json) {
                gender_json = json;

                for (var element in gender_json) {
                    console.log(gender_json);

                    var topic_1, topic_2;

                    ('{{ topic_1 }}' in gender_json[element]) ? topic_1 = gender_json[element]['{{ topic_1 }}'] : topic_1 = 0;
                    ('{{ topic_2 }}' in gender_json[element]) ? topic_2 = gender_json[element]['{{ topic_2 }}'] : topic_2 = 0;

                    dataTable.addRow([String(element), topic_1, topic_2]);
                }

                var options = {
                    title: 'Comparación del número total de tesis por año por temáticas',
                    width: 850,
                    height: 450,
                    hAxis: {
                        title: 'Año',
                    },
                    yAxis: {
                        title: 'Nº de tesis',
                    },
                    colors: ['blue', 'red'],
                    dataOpacity: 0.75,
                };

                var chart = new google.visualization.LineChart(document.getElementById('chart')).draw(dataTable, options);
            });
        }
    </script>

{% endblock %}
