{% extends "base.html" %}



{% block content %}

    <div id="chart"></div>

{% endblock %}



{% block scripts %}

    <script type="text/javascript" src="{{ url_for('static', filename='js/gcharts.js') }}"></script>

    <script type="text/javascript">
        google.load("visualization", "1", {packages:["corechart"]});
        google.setOnLoadCallback(drawChart);

        function drawChart() {
            var dataTable = new google.visualization.DataTable();

            dataTable.addColumn('string', 'Year');
            dataTable.addColumn('number', 'Nº de tesis');

            var gender_json;
            $.getJSON("/static/data/first_level_areas_temporal.json", function(json) {
                gender_json = json;

                for (var element in gender_json) {
                    console.log(gender_json);

                    if('{{ topic }}' in gender_json[element]) {
                        dataTable.addRow([String(element), gender_json[element]['{{topic}}']]);
                    }
                }

                var options = {
                    title: 'Número total de tesis por año con temática {{ topic }}',
                    width: 850,
                    height: 450,
                    hAxis: {
                        title: 'Año',
                    },
                    yAxis: {
                        title: 'Nº de tesis',
                    },
                    colors: ['blue'],
                    dataOpacity: 0.75,
                };

                var chart = new google.visualization.LineChart(document.getElementById('chart')).draw(dataTable, options);
            });
        }
    </script>

{% endblock %}
