{% extends "index.html" %}



{% block content %}

        <div id="chart"></div>

{% endblock %}



{% block scripts %}

    <script type="text/javascript" src="{{ url_for('static', filename='js/handlebars-v1.3.0.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/gcharts.js') }}"></script>

    <script id="tooltip-template" type="text/x-handlebars-template">
        <div class="tooltip-div">
            <h3>{{ year }}</h3>

            <div class="soften"></div>

            <p>
                <i class="fa fa-male"></i>&emsp;{{ males }} %
            </p>

            <p>
                <i class="fa fa-female"></i>&emsp;{{ females }} %
            </p>
        </div>
    </script>

    <script type="text/javascript">
        google.load("visualization", "1", {packages:["corechart"]});
        google.setOnLoadCallback(drawChart);

        function drawChart() {
            var dataTable = new google.visualization.DataTable();

            dataTable.addColumn('string', 'Year');
            dataTable.addColumn('number', 'Female');
            dataTable.addColumn('number', 'Male');

            var gender_json;
            $.getJSON("/static/data/processed_data/gender_panel_temporal.json", function(json) {
                gender_json = json;

                for (var element in gender_json) {
                    var number = gender_json[element];
                    var total = number.female + number.male;

                    if (element >= 1977) {
                        dataTable.addRow([String(element), number.female/total*100, number.male/total*100]);
                    }
                }

                var options = {
                    title: 'Presencia del género en los tribunales de tesis doctoral',
                    width: 850,
                    height: 350,
                    hAxis: {
                        title: 'Año',
                    },
                    yAxis: {
                        title: 'Porcentaje',
                    },
                    isStacked: true,
                    colors: ['#ffa3b1', '#4d6df3'],
                    dataOpacity: 0.75,
                };

                var chart = new google.visualization.ColumnChart(document.getElementById('chart')).draw(dataTable, options);
            });
        }
    </script>

{% endblock %}
