<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">

        {% block stylesheets %}{% endblock %}

        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/font-awesome.min.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    </head>

    <body>

        <div class="container">
            <div class="page-header">
                <h1>Teseo</h1>

                <blockquote>
                    <p>
                        Base de datos de Tesis Doctorales
                    </p>
                </blockquote>
            </div>

            <div class="row">
                <aside class="col-md-3">
                    <div class="well">
                        <ul class="nav nav-pills nav-stacked">
                            <li>
                                <a href="{{ url_for('total_theses_by_year') }}">
                                    <i class="fa fa-beer"></i>&emsp;Nº total de tesis
                                </a>
                            </li>

                            <li>
                                <a href="{{ url_for('gender') }}">
                                    <i class="fa fa-bullhorn"></i>&emsp;Nº de tesis por género
                                </a>
                            </li>

                            <li>
                                <a href="{{ url_for('evolution_topic_list') }}">
                                    <i class="fa fa-bullhorn"></i>&emsp;Lista de temáticas
                                </a>
                            </li>

                            <li>
                                <a href="{{ url_for('topics_by_five_years', min_year=2010, max_year=2013) }}">
                                    <i class="fa fa-bullhorn"></i>&emsp;Temáticas por período (alto nivel)
                                </a>
                            </li>

                            <li>
                                <a href="{{ url_for('all_topics_by_five_years', min_year=2010, max_year=2013) }}">
                                    <i class="fa fa-bullhorn"></i>&emsp;Temáticas por período (todas)
                                </a>
                            </li>
                        </ul>
                    </div>
                </aside>

                <div class="col-md-9">
                    {% block content %}{% endblock %}

                    <br><br>
                </div>
            </div>
        </div>

        <div id="footer">
            <div class="container">
                <br>
                <p>
                    DeustoTech 2014 &copy;
                </p>
            </div>
        </div>

        <script type="text/javascript" src="{{ url_for('static', filename='js/jquery-2.1.0.min.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>

        {% block scripts %}{% endblock %}
    </body>
</html>
