{% extends "base.html" %}



{% block content %}

    <div class="main-explanation">
        <p>
            This project has two main objectives:
        </p>

        <ul>
            <li>
                Make the information kept at <em>teseo</em> available as Open Data.
            </li>

            <li>
                Perform different analyses over the previous data to understand them.
            </li>
        </ul>

        <p>
            <a target="_blank" href="https://www.educacion.gob.es/teseo/">Teseo</a> is a Doctoral Dissertation database maintained by the <a target="_blank" href="http://www.mecd.gob.es/portada-mecd/">Spanish Ministry of Education</a>, keeping records for the dissertations defended in Spain since 1977. Teseo's website provides different forms to query the database, but makes it difficult for automatic processing.
        </p>

        <p>
            Some of performed work involves:
        </p>

        <ul>
            <li>
                Gender dissambiguation for authors and panel members. The process is automatized, so some names could be wrongly assigned a gender.
            </li>

            <li>
                Dissertations are tagged with different topics, from <a target="_blank" href="http://unesdoc.unesco.org/images/0008/000829/082946eb.pdf">UNESCO's 6-digit nomenclature for fields of science and technology</a>. Topic distribution for different levels of granularity is available.
            </li>

            <li>
                People with the same full name, or with a high probability of being the same person (acronyms, abbreviations, etc.) are assigned to be the same person entity.
            </li>

            <li>
                Analyses are visualized through interactive charts to make them understandable by any user. The <span class="btn btn-info btn-xs"><i class="fa fa-info"></i>&emsp;Info</span> button on the top of each chart provides an extended explanation of the rendered data.
            </li>
        </ul>

        <br>

        <div class="alert alert-success">
            <p>
                All the source code of this website is openly available in the <a target="_blank" href="https://github.com/OpenDataDayBilbao/teseo2014">project's GitHub repository</a>.
            </p>
        </div>
    </div>

{% endblock %}
