{% extends "index.html" %}



{% block stylesheets %}

    <link rel="stylesheet" href="{{ url_for('static', filename='css/jqcloud.css') }}"></script>

{% endblock %}



{% block content %}

    <h1>Temáticas: {{ min_year }} - {{ max_year }}</h1>

    <br>

    <div id="publication_tag_cloud" style="width: 800px; height: 450px;"></div>

{% endblock %}



{% block scripts %}

    <script type="text/javascript" src="{{ url_for('static', filename='js/jqcloud-1.0.4.min.js') }}"></script>

    <script>
        function replaceAll(text, search, newstring ){
            return text.replace(new RegExp(search, 'g'), newstring);
        }

        var word_array = [
            {% for key, value in tag_dict.items() %}
                {text: "{{ key }}", weight: "{{ value }}", link: "{{ url_for('evolution_topic', topic=key) }}"},
            {% endfor %}
        ];

        $(function() {
            // When DOM is ready, select the container element and call the jQCloud method,
            // passing the array of words as the first argument.
            $("#publication_tag_cloud").jQCloud(word_array);
        });
    </script>

{% endblock %}
