{% extends "index.html" %}



{% block content %}

        <div id="chart"></div>

{% endblock %}



{% block scripts %}

    <script type="text/javascript" src="{{ url_for('static', filename='js/gcharts.js') }}"></script>

    <script type="text/javascript">
        google.load("visualization", "1", {packages:["corechart"]});
        google.setOnLoadCallback(drawChart);

        function drawChart() {
            var dataTable = new google.visualization.DataTable();

            dataTable.addColumn('string', 'Year');
            dataTable.addColumn('number', 'Nº de tesis');

            var gender_json;
            $.getJSON("static/data/processed_data/genders_total.json", function(json) {
                gender_json = json;

                for (var element in gender_json) {
                    var number = gender_json[element];
                    var total_per_year = number.None + number.male + number.female;

                    if (! isNaN(total_per_year)) {
                        console.log([String(element), total_per_year]);
                        dataTable.addRow([String(element), total_per_year]);
                    }
                }

                var options = {
                    title: 'Número total de tesis por año',
                    width: 850,
                    height: 450,
                    hAxis: {
                        title: 'Año',
                    },
                    yAxis: {
                        title: 'Nº de tesis',
                    },
                    colors: ['blue'],
                    dataOpacity: 0.75,
                };

                var chart = new google.visualization.ColumnChart(document.getElementById('chart')).draw(dataTable, options);
            });
        }
    </script>

{% endblock %}
